[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
autopep8 = "*"
ipython = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
